.div-board-item:active {
  background-color: black;
  color: white;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1050;
}

.div-add-board-form {
  background-color: white;
  border-radius: 8px;
}

.btn:active{
  color: white;
  background-color: black;
}
